body {
    background-color: rgb(0,0,0);
    color: grey;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    display: block;
    padding: 1em 1em;
}

a:hover {
    color: rgb(121, 14, 121);
}

nav ul{
    list-style: none;
    padding-left: 0;
    display: flex;

}

header{
    width: 100%;
    position: fixed;
    background-color: black;
    top: 0;
    z-index: 10;
}

.bienvenue h1{
    text-align: center;
}

.bienvenue video{
    display: flex;
    width: 50%;
    
}
