body {
    background-color: rgb(0,0,0);
    color: grey;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    display: block;
    padding: 1em 1em;
    }

a:hover {
    color: rgb(121, 14, 121);
}

nav ul{
    list-style: none;
    padding-left: 0;
    display: flex;

}

header{
    padding: 0px 30px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    box-shadow: 0px 0px 10px rgba(121, 14, 121,0.5);
}
