@font-face {
    font-family : 'noto';
    src : url('/font/noto/NotoSerifJP-Medium-Alphabetic.woff2');
    font-weight : normal;
    font-style : normal;
}


body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    font-family: noto;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    height: 25%;
    background-color: white;
    top: 0;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
    position: fixed;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    padding: 0px 20px;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    display: block;
    padding: 1em 1em;
    margin: 0px 50px;
}

a:hover {
    color: rgb(204, 153, 50);
}

nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.bienvenue {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px 0px;
    width: 95%;
}

.bienvenue video {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    width: 75%;
    padding-top: 275px;
    box-shadow: 0px 0px 20px 0px;
}

.animation {
    position: relative;
    animation: animate 0.4s
}
@keyframes animate {
    from {right: -300px; opacity: 0} to {right: 0; opacity: 1}
}

footer {
    display: flex;
    justify-content: center;
    width: 75%;
    height: 24%;
    box-shadow: 0px 0px 20px 0px;
}

